:root {
	--wall-style: 2px solid #1f2937;
	--cell-background: #059669;
	--path-background: #065f46;
	--impacted-wall-style: 2px solid #dc2626;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.maze {
	display: grid;
	width: 500px;
	height: 500px;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(7, 1fr);
	background: #0284c7;
}
.maze .cell {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cell.wall-top {
	border-top: var(--wall-style);
}
.cell.wall-right {
	border-right: var(--wall-style);
}
.cell.wall-down {
	border-bottom: var(--wall-style);
}
.cell.wall-left {
	border-left: var(--wall-style);
}
.cell .path {
	width: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #075985;
	/* background: var(--path-background); */
}
.special-path {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
}
.special-path.player {
	border: 2px solid white;
	background: linear-gradient(90deg, #ef4444, #b91c1c);
}
.player::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 40%;
	height: 40%;
	border: 2px solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(90deg, #ef4444, #b91c1c);
}
.special-path.destination {
	background: linear-gradient(90deg, #52525b, #09090b);
}
.cell.top-wall-impacted {
	border-top: var(--impacted-wall-style) !important;
}
.cell.right-wall-impacted {
	border-right: var(--impacted-wall-style) !important;
}
.cell.bottom-wall-impacted {
	border-bottom: var(--impacted-wall-style) !important;
}
.cell.left-wall-impacted {
	border-left: var(--impacted-wall-style) !important;
}
.maze.hide > .cell {
	border: 0;
}
